<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  palette: {
    popup: { background: "#000" },
    button: { background: "#f1d600" }
  },
  theme: "classic",
  content: {
    message: "Hallo Leute, wie jede Seite im WWW benutzen wir auch Cookies, um zu schauen, wieviele Leute auf unserer Webseite rumhängen.",
    dismiss: "OK",
    link: "Mehr erfahren",
    href: "/datenschutz"
  },
  onInitialise: function (status) {
    if (status == cookieconsent.status.allow) {
      // hide the banner immediately
      document.querySelector(".cc-window").style.display = "none";
    }
  },
  onStatusChange: function(status, chosenBefore) {
    if (status == cookieconsent.status.allow) {
      document.querySelector(".cc-window").style.display = "none";
    }
  }
})});
</script>
