<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
<nav class="site-nav">
  <ul>

    {% for item in site.navigation %}

      {% if item.subitems %}
      <li class="dropdown">
        <span class="dropbtn">{{ item.title }} ▼</span>
        <ul class="dropdown-content">
          {% for subitem in item.subitems %}
          <li>
            <a href="{{ subitem.url | relative_url }}">{{ subitem.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>

      {% else %}
      <li>
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      </li>
      {% endif %}

    {% endfor %}

  </ul>
</nav>
    {%- endif -%}
  </div>
</header>

{% include footer.html %}
