<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if page_paths -%}
      <nav class="site-nav">


  {% for item in site.navigation %}
    <li class="dropdown">
      {% if item.url %}
      <a href="{{ item.url | relative_url }}">
      {% endif %}
      <span>{{ item.title }}</span>
      {% if item.url %}
      </a>
      {% endif %}
      <ul class="dropdown-content">
        {% for subitem in item.subitems %}
          <li>
            <a href="{{ subitem.url | relative_url }}">
              {{ subitem.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
  
        
      </nav>
    {%- endif -%}
  </div>
</header>
