<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="site-banner">
        <div class="wrapper">
	    <img src="{{ '/assets/mathelogo_bg.png' | relative_url }}">
	</div>
    </div>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

<!-- this html was copied from the minima template -->
